.is-primary {
    background-color: #414BB2 !important;
}

a.is-primary:hover {
    background-color: #343c8f !important;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none!important;
    appearance: none!important;
    /* For iOS < 15 to remove gradient background */
    background-color: #414BB2!important;
    /* Not removed via appearance */
}

.login {
    background-color: #3e8ed0;
    height: 100%;
    background-image: url(../img/shooting.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: left;
}

.logo {
    height: 100%;
    width: 100px;
    object-fit: contain;

}

.logo-item {
    margin: 0;
    padding: 0;
}

.navbar-item:hover {
    background-color: #343c8f!important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: white;
}

.navbar-link {
    background-color: #414BB2!important;
}

.navbar-link:hover {
    background-color: #343c8f!important;
}

.navbar-dropdown {
    background-color: #414BB2;
}

.small {
    width: 35vw;
    margin-inline: auto;
}

body {
    min-height: 100vh;
}

.footermargin {
    margin: 200px;
}

.footermarginbig {
    margin: 400px;
}

.is-rounded-soft {
    border: 2px solid red;
}

.cover {
    object-fit: contain!important;
    object-position: center!important;
}

nav {
    background-color: #414BB2 !important;
    color: white!important;
}

nav div a {
    color: white!important;
}


